<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>{{ course_code }}</title>
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 19cm;
                    height: 1cm;
                }
            }
        </style>
    </head>
    <body>
        <div>
            {% block content %}
                <h1 align="center">De La Salle University</h1>
                <h2 align="left">COLLEGE: {{ college }} </br>COURSE CODE: {{ course_code }}</h2>
                <h2 align="left">INSTRUCTOR: {{ instructor }}</h2>
                <p>I don't know what to put here anymore.</p>
                <p>So here's some lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, dolor debitis animi a minus exercitationem beatae qui inventore totam itaque laboriosam architecto magni deserunt ducimus rerum dolorem voluptatem excepturi placeat sunt pariatur voluptates aut sit vero est deleniti sed fugiat</p>
            {% endblock content %}
        </div>
        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>
